@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: aliceblue;
}
.magic {
    background-color: #f9ca24;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 0 3px rgba(249, 202, 36, 0.5);
    z-index: 99;
}
.magic:active {
    box-shadow: none;
    transform: translateY(2px);
} 
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    position: relative;
    transition: .4s ease;
}
.boxes.big {
    width: 600px;
    height: 600px;
}
.big .box {
    transform: rotateZ(360deg);
}

.box {
    width: 125px;
    height: 125px;
    background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
    background-repeat: no-repeat;
    position: relative;
    background-size: 500px 500px;
    transition: .4s ease;
}
.box::after {
    content: "";
    height: 100%;
    width: 15px;
    background-color: #f6e58d;
    position: absolute;
    top: 8px;
    right: -15px;
    transform: skewY(45deg);
}
.box::before {
    content: '';
    height: 15px;
    width: 100%;
    background-color: #f9ca24;
    position: absolute;
    left: 8px;
    bottom: -15px;
    transform: skewX(45deg);
}